.checkout {
  min-height: 100vh;
  color: black;
  padding: 10rem 6rem;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  width: 100%;
  margin: 0 auto;
}
.checkout_left {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.checkout_right {
  border-left: 2px solid rgb(83, 83, 83);
}
@media only screen and (max-width: 1100px) {
  .checkout {
    padding: 10rem 1rem;
    min-height: 60vh;
  }
}
@media only screen and (max-width: 900) {
  .checkout {
    padding: 10rem 1rem;
    min-height: 80vh;
  }
}
@media only screen and (max-width: 700px) {
  .checkout {
    display: flex;
    flex-direction: column;
    padding: 10rem 1rem;
  }
  .checkout_right {
    margin-top: 2rem;
    border-top: 2px solid rgb(83, 83, 83);
    border-left: none;
  }
}
