.btn {
  background: white;
  color: black;
  border: 2px solid black;
  font-size: 1.5rem;
  padding: 0.7rem 4rem;
  line-height: 1;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
}
.btn:hover {
  background: black;
  color: white;
}
@media only screen and (max-width: 1100px) {
  .btn {
    padding: 0.7rem 2rem;
  }
}
