.alert {
  position: fixed;
  z-index: 100;
  top: 8%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  font-size: 2rem !important;
  color: black !important;
  text-align: center !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 430px) {
  .alert {
    width: 60%;
    margin: 0 auto;
  }
}
