@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600&display=swap");

*,
*:after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: white;
}
a {
  color: inherit;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5 {
  font-size: 6rem;
}
p {
  font-size: 2rem;
  font-weight: 600;
  word-spacing: 3px;
}
@media only screen and (max-width: 900px) {
  html {
    font-size: 55%;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: 5rem;
  }
}
.alert {
  margin-top: 8rem !important;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem !important;
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 50%;
  }
}
